<div *ngIf="currentTask != null">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" [(ngModel)]="currentTask.name">
            </div>

            <div class="form-group row">
                <label class="col-md-1">State</label>
                <div class="dropdown btn-group col-md-11" role="form">
                    <button class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ currentTask.stateId | fromDictionary:resourceService.states }} <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li  *ngFor="let state of resourceService.states"><a href="#" (click)="setState(state?.id)">{{ state?.name }}</a></li>
                    </ul>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-1">Priority</label>
                <div class="dropdown btn-group col-md-11" role="form">
                    <button class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ currentTask.priorityId | fromDictionary:resourceService.priorities }} <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li *ngFor="let priority of resourceService.priorities"><a href="#" (click)="setPriority(priority?.id)">{{ priority?.name }}</a></li>
                    </ul>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-3">
                    <label>Initial cost</label>
                    <input type="number" class="form-control" [(ngModel)]="currentTask.planedTimeCost" min="0">
                </div>

                <div class="col-md-3">
                    <label>Actual cost</label>
                    <input type="number" class="form-control" [(ngModel)]="currentTask.actualTimeCost" min="0">
                </div>

                <div class="col-md-3">
                    <label>Remaining cost</label>
                    <input type="number" class="form-control" [(ngModel)]="currentTask.remainingTimeCost" min="0">
                </div>
            </div>

            <div class="form-group row">
                <div class="form-inline col-md-7">
                    <label class="col-md-6 row">Create date</label>
                    <input type="text" class="form-control" readonly="readonly" value="{{ currentTask.createDateTime | date:'dd.MM.yyyy HH:mm:ss'}}">
                </div>
            </div>

            <div class="form-group row">
                <div class="form-inline col-md-7">
                    <label class="col-md-6 row">Last change date</label>
                    <input type="text" class="form-control" readonly="readonly" value="{{currentTask.changeDatetime | date:'dd.MM.yyyy HH:mm:ss'}}">
                </div>
            </div>

            <div class="form-group">
                <label>Description</label>
                <textarea class="form-control" [(ngModel)]="currentTask.description" rows="5" style="resize:none"></textarea>
            </div>

            <div class="form-group pull-right">
                <button type="submit" class="btn btn-default" (click)="saveTask()" [disabled]="!changed">Save</button>
                <button type="submit" class="btn btn-default" (click)="cancelChanges()" [disabled]="!changed">Cancel</button>
            </div>
        </div>
    </div>
</div>