<div>
    <div class="panel panel-default">
        <div class="panel-heading panel-title">
            Work items
            <div class="pull-right">
                <span class="glyphicon glyphicon-plus" aria-hidden="true" (click)="createTask()"></span>
            </div>
        </div>
        <div [ngStyle]="{ 'max-height' : 0.8 * listHeight + 'px', 'height' : 0.8 * listHeight + 'px', 'overflow-y' : 'auto' }" >
            <ul class="list-group">
                <li *ngFor="let task of taskList " class="list-group-item" [ngClass] ="{active: currentTask.Id == task.Id}" (click)="getTask(task.Id)">
                    <div class="list-group-item-heading">
                        {{ task.name }}
                        <span class="pull-right glyphicon glyphicon-trash" aria-hidden="true" (click)="removeTask()" *ngIf="currentTask.Id == task.Id"></span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>