<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />

    <link href="Content/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="Content/ui-bootstrap-csp.css" rel="stylesheet" type="text/css">
    <link href="Content/site.css" rel="stylesheet" type="text/css">


    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/jquery-2.2.3.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="Scripts/angular-route.min.js"></script>
    <script src="Scripts/angular-ui/ui-bootstrap.min.js"></script>
    <script src="Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="Scripts/angular-signalr-hub.min.js"></script>
    <script src="app/app.js"></script>
    <script src="app/main.js"></script>
    <script src="app/controller.js"></script>
    <script src="app/directive.js"></script>
    <script src="app/fromDictionaryFilter.js"></script>
    <script src="app/services/httpService.js"></script>
    <script src="app/services/userService.js"></script>
    <script src="app/services/resourceService.js"></script>
    <script src="app/services/taskService.js"></script>
    <script src="app/services/hubService.js"></script>


</head>
<body>
    <div ng-app="taskApp">
        <div ng-controller="taskController">
            <nav class="navbar navbar-default">
                <div class="container-fluid container">
                    <div class="navbar-header navbar-brand">Task Manager</div>

                    <div class="collapse navbar-collapse">
                        <form class="navbar-form navbar-right" role="form" ng-show="user.id == null">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Login" ng-model="user.name">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Password" ng-model="user.password">
                            </div>
                            <button type="submit" class="btn btn-default" ng-click="login()" ng-disabled="user.name == null || user.password == null">Login</button>
                            <button class="btn btn-default" ng-click="signUp = true">Sign Up</button>
                        </form>

                        <div class="dropdown navbar-form navbar-right" role="form" ng-show="user.id != null">
                            <button class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user.name}} <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="#" ng-click="logout()">Logout</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="container">
                <div class="alert alert-danger alert-dismissible" role="alert" uib-collapse="alertMessage == null">
                    <button type="button" class="close" aria-label="Close" ng-click="alertMessage = null"><span aria-hidden="true">&times;</span></button>
                    <strong>Warning!</strong> {{ alertMessage }}
                </div>
            </div>

            <div class="container panel panel-default panel-body col-md-4 col-md-push-4" ng-show="signUp == true">
                <form name="signupForm" >
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control error" ng-model="newUser.name" required>
                    </div>

                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" ng-model="newUser.password" required>
                    </div>

                    <div class="form-group">
                        <label>Confirm password</label>
                        <input type="password" name="confirmpassword" class="form-control" ng-model="newUser.confirmPassword" required compare-to="newUser.password">
                    </div>

                    <button type="submit" class="btn btn-default" ng-click="signup()" ng-disabled="newUser.name == null || newUser.password == null || newUser.password == null || newUser.password != newUser.confirmPassword">Sign Up</button>
                </form>
            </div>

            <div class="container" ng-show="user.id != null">
                <div class="row">
                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-heading panel-title">
                                Work items
                                <div class="pull-right">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true" ng-click="createTask()"></span>
                                </div>
                            </div>
                            <div ng-style="{ 'max-height' : 0.8 * listHeight + 'px', 'height' : 0.8 * listHeight + 'px', 'overflow-y' : 'auto' }">
                                <ul class="list-group">
                                    <li ng-repeat="task in taskList | orderBy: 'Name'" class="list-group-item" ng-class="{active: currentTask.id == task.id}" ng-click="getTask(task.id)">
                                        <div class="list-group-item-heading">
                                            {{ task.name }}
                                            <span class="pull-right glyphicon glyphicon-trash" aria-hidden="true" ng-click="removeTask()" ng-show="currentTask.id == task.id"></span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-9" ng-show="currentTask != null">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" class="form-control" ng-model="currentTask.name">
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-1">State</label>
                                    <div class="btn-group col-md-11">
                                        <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">{{ currentTask.stateId | fromDictionary:stateList }} <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li ng-repeat="state in stateList"><a href="#" ng-click="setState(state.id)">{{ state.name }}</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-1">Priority</label>
                                    <div class="btn-group col-md-11">
                                        <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#" ng-model="currentTask.priorityId">{{ currentTask.priorityId | fromDictionary:priorityList }} <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li ng-repeat="priority in priorityList"><a href="#" ng-click="setPriority(priority.id)">{{ priority.name }}</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-md-3">
                                        <label>Initial cost</label>
                                        <input type="number" class="form-control" ng-model="currentTask.planedTimeCost" min="0">
                                    </div>

                                    <div class="col-md-3">
                                        <label>Actual cost</label>
                                        <input type="number" class="form-control" ng-model="currentTask.actualTimeCost" min="0">
                                    </div>

                                    <div class="col-md-3">
                                        <label>Remaining cost</label>
                                        <input type="number" class="form-control" ng-model="currentTask.remainingTimeCost" min="0">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="form-inline col-md-7">
                                        <label class="col-md-6 row">Create date</label>
                                        <input type="text" class="form-control" readonly="readonly" value="{{ currentTask.createDateTime | date:'dd.MM.yyyy HH:mm:ss'}}" >
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="form-inline col-md-7">
                                        <label class="col-md-6 row">Last change date</label>
                                        <input type="text" class="form-control" readonly="readonly" value="{{currentTask.changeDatetime | date:'dd.MM.yyyy HH:mm:ss'}}" >
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Description</label>
                                    <textarea class="form-control" ng-model="currentTask.description" rows="5" style="resize:none"></textarea>
                                </div>

                                <div class="form-group pull-right">
                                    <button type="submit" class="btn btn-default" ng-click="saveTask()" ng-disabled="!changed">Save</button>
                                    <button type="submit" class="btn btn-default" ng-click="cancelChanges()" ng-disabled="!changed">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <script type="text/ng-template" id="confirm.html">
                <div class="modal-header">
                    <div class="modal-title">Task Manager</div>
                </div>
                <div class="modal-body">
                    {{message}}
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" type="button" ng-click="ok()">Yes</button>
                    <button class="btn btn-default" type="button" ng-click="cancel()">No</button>
                </div>
            </script>

            <script type="text/ng-template" id="message.html">
                <div class="modal-header">
                    <div class="modal-title">Task Manager</div>
                </div>
                <div class="modal-body">
                    {{message}}
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" type="button" ng-click="ok()">OK</button>
                </div>
            </script>
        </div>
    </div>

   
</body>
</html>
