<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />

    <link href="Content/bootstrap.min.css" rel="stylesheet" type="text/css">

    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/jquery-2.2.3.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="Scripts/angular-route.min.js"></script>
    <script src="app/app.js"></script>
    <script src="app/main.js"></script>
    <script src="app/controller.js"></script>

</head>
<body>
    <div ng-app="taskApp">
        <div ng-controller="taskController">
            <div class="col-mod-4">
                <ul>
                    <li ng-repeat="task in taskList"><a ng-click="getTask(task.Id)">{{ task.Name }}</a></li>
                </ul>
            </div>

            <div class="col-mod-4">
                <div class="form-group">
                    <div>Name</div>
                    <div>{{ currentTask.Name }}</div>
                </div>

                <div class="form-group">
                    <div>Description</div>
                    <div>{{ currentTask.Description }}</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
